*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(41, 39, 39);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background: #ff4891;
    width: 100%;
    height: 90px;
    box-shadow: 0px 0px 20px #a4a4a4;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    border-bottom-width: 5px;
}

#titulo{
    width: 80%;
    height: 30%;
    margin: auto;
    border: 0px solid #fff;
}

#logo{
    width: 30%;
    height: auto; 
    overflow: hidden;
    float: left;
    color: #fff;
    font-size: 25px;
    margin-top: 58px;
}

#menu{
    width: 60%;
    height: 40px;
    float: right;
    border: 0px solid;
    margin-top: 52px;
}

#menu ul li{
    list-style: none;
    display: inline-block;
    margin-top: 11px;
}

.enlace{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
}

.enlace:hover{
    background: #fff;
    color: #f06292;
    border-radius: 10px 10px 0px 0px;
}

.activo{
    background: #fff;
    color: #000;
    border-radius: 6px 6px 0px 0px;
    padding: 8px;
}

/* --------------Contenido Principal---------------*/
#principal{
    width: 80%;
    height: auto;
    overflow: hidden;
    border: 0px solid;
    margin: 10px auto;
}

#publicacion{
    width: 70%;
    height: auto;
    overflow: hidden;
    border: 0px solid pink;
    margin-top: 5px;
}

.biografia{
    width: 96%;
    height: auto;
    overflow: hidden;
    padding: 7px;
    background: #f8bbd0;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #ff4891;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #ccc;
    margin-bottom: 25px;
}

.enlace-bio{
        text-decoration: none;
}

.titulo-bio{
    color: #e71f6f;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titulo-bio:hover{
    text-decoration: underline;
}

.imagen-bio{
    float: left;
    margin: 7px 7px 7px 0px;
    padding: 5px;
    border: 0px solid #ccc;
    border-radius: 10px;
}

.datos-publicacion{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e71f6f;
    font-size: 18px;
}

.parrafo-bio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #000;
    padding: 5px;
}

.leer-mas{
    background: #ff4891;
    color: #fff;
    border: 0px;
    padding: 5px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

.leer-mas:hover{
    background: #fff;
    color: #f06292;
}

/*--------contenido con fin decorativo---------*/

#sidebar{
    float: right;
    width: 28%;
    top: 0;
    right: 1vw;
    border: 0px solid;
    position: fixed;
    height: auto;
    overflow: hidden;
    margin-top: 110px;
}

#buscar, #categorias{
    border-radius: 10px;
    width: 160px;
    border: 1px solid #ccc;
    height: auto;
    overflow: hidden;
    margin-bottom: 40px;
}

form{
    margin-top: 10px;
}

#buscar input[type="text"]{
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc inset;
    padding: 8px 10px;
    border-radius: 10px;
    width: 79%;
    margin-left: 6px;
    margin-bottom: 2px;
}

.boton{
    border: 1px solid;
    color: #fff;
    background: #ff4891;
    padding: 8px;
    margin-left: 6px ;
    border-radius: 10px;
}

.boton:hover{
    background: #fff;
    color: #f06292;
}

.titulo-sidebar{
    width: 160px;
    height: 45px;
    background: #ff4891;
    text-align: center;
    color:#fff;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.enlace-sidebar{
    width: 160px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    padding: 7px 6px;
    color: #848488;
}

.enlace-sidebar:hover{
    background: #f2f2f2;
}

@media (max-width: 680px){
    .parrafo-bio{
    font-size: 18px;

    }

    #menu{
        margin-top: 0;
    }

    .imagen-bio{
        width: 200px;
    }
    
    #logo{
        font-size: 22px;
        margin-top: 40px;
    }

    #sidebar{
        display: none;
    }
}
